<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./bootstrap/link-bootstrap') -%>
  <%- include ('./bootstrap/script-bootstrap') -%>
  <link rel="stylesheet" href="/css/404.css">
</head>
<body>
  <%- include ('./components/nav') -%>
  <div class="error-container"> 
		<h1>404</h1> 
		<p> 
			Oops! The page you're looking for is not here. 
		</p> 
		<a id="gotohome" href="/"> 
			Go Back to Home 
		</a> 
	</div> 
</body>
</html>
	
