<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./bootstrap/link-bootstrap') -%>
  <%- include ('./bootstrap/script-bootstrap') -%>
  <%- include ('./components/nav') -%>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h1>You've logged out!</h1>
        <div class="mt-3">
          <a href="/" class="btn btn-danger btn-block">Home</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

