<option>Food and Dining</option>
<option>Transportation</option>
<option>Housing</option>
<option>Utilities</option>
<option>Insurance</option>
<option>Entertainment</option>
<option>Travel</option>
<option>Shopping</option>
